:root {
    --dark: rgb(39,41,50);
    --light: rgb(238,244,237);
    --blue: rgb(77,126,168);
    --purple: rgb(173, 115, 154);
}
* {
    font-family: 'DejaVu-Serif-Bold', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: var(--dark);
}
#blank {
    height:140px;
}
header {
    width: 100%;
    margin-bottom: 25px;
    position: fixed;
    box-shadow: 0px 0px 5px 5px var(--dark);
}
header span{
    font-size:45px;
    color: var(--blue);
}
header span:hover{
    font-size:45px;
    color: var(--purple);
}
header h1 {
    font-size: 65px;
    color: var(--light);
    background-color: var(--dark);
    padding: 20px;
    padding-left: 35px;
}
header img {
    display: inline-block;
    position:absolute;
    right: 50px;
    width: 95px;
    padding: 10px;
    top:2px
}
header a {
    color:var(--dark);
}
nav {
    display: grid;
    color: var(--dark);
    background-color: var(--light);
    font-size: 25px;
    justify-content: right;
    padding:8px;
    padding-top: 5px;
}
li {
    color:var(--dark);
    display: inline;
    padding:5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    text-align: center;
    background-image: linear-gradient(0deg, transparent 2px, var(--blue) 2px);
    background-size: 100% 16px; 
    background-repeat: no-repeat;
    background-position: 0 140%;
}
li:hover {
    background-image: linear-gradient(0deg, transparent 2px, var(--purple) 2px);
    box-shadow: 0px 0px 4px 2px var(--dark);
    border-radius: 2px;
}

body {
    display: block;
    background-image: url(../assets/images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section {
    display: flex;
    background-color: rgba(238,244,237,0.5);
    padding: 25px;
    margin:75px;
    border-radius: 10px;
    
}
section p {
    padding: 15px;
}
section:hover {
    box-shadow: 0px 0px 6px 4px var(--dark);
}
aside {
    width: 160px;
    display: flex;
    padding-right:50px;
    text-align: right;
    align-items: center;
    margin-right: 40px;
    flex: 0 0;
}
aside h1 {
    color:var(--purple);
    font-weight: bold;
    font-size: 35px;
}
p {
    font-size: 20px;
    flex: 12 2;
}
.container{
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    align-items: right;
    columns: 5;
    width: 100%;
}
.card {
    display: flex;
    background-color: var(--dark);
    color: var(--light);
    height: 250px;
    flex: 1 0 400px;
    margin:10px;
    border-radius: 10px;
    border-color: var(--dark);
    border-style: solid;

}
#first-project {
    display: flex;
    /* background-color: var(--dark); */
    flex: 1 4 90%;
    align-self: flex-end;
    height: 650px;
    margin:10px;
    border-radius: 10px;
    border-color: var(--dark);
    border-style: solid;
    background-image: url(../assets/images/projects/vector\ uav.png);
    background-size:cover;
    background-position: center;
    
}
.container > div:hover{
    box-shadow: 0 0 5px 5px var(--purple);
}
.container > * > img {
    flex: 0 1;
}
.container:nth-child(1){
    background-image: url(../assets/images/projects/HoriseonLanding.png);
    background-size:cover;
    background-position: center;
}

@media screen and (max-width:1080px) {
    #blank {
        height:250px;
    }
    li {
        display:grid;
        columns: 1;
        align-items: center;
    }
    nav {
        display: grid;
        justify-content: center;
    }
    header {
        text-align: center;
    }
    header span, header img {
        display: none;
    }
    section {
        display: block;
    }
    aside {
        width:100%;
        align;
    }
    .container {
        justify-content: center;
    }
}