:root {
    --dark: rgb(39,41,50);
    --light: rgb(238,244,237);
    --blue: rgb(77,126,168);
    --purple: rgb(173, 115, 154);
    
}
* {
    font-family: 'DejaVu-Serif-Bold', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: var(--dark);
    transition:all .2s ease;
}
header {
    width: 100%;
    margin-bottom: 25px;
    position: fixed;
    box-shadow: 0px 0px 5px 5px var(--dark);
    z-index: 2;
    top: 0px;
}
header span{
    font-size:45px;
    color: var(--blue);
}
header span:hover{
    font-size:45px;
    color: var(--purple);
}
header h1 {
    font-size: 65px;
    color: var(--light);
    background-color: var(--dark);
    padding: 20px;
    padding-left: 35px;
}
header img {
    display: inline-block;
    position:absolute;
    right: 50px;
    width: 95px;
    padding: 10px;
    top:2px
}
header a {
    color:var(--dark);
}
nav {
    display: grid;
    color: var(--dark);
    background-color: var(--light);
    font-size: 25px;
    justify-content: right;
    padding:8px;
    padding-top: 5px;
}
li {
    color:var(--dark);
    display: inline;
    padding:5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    text-align: center;
    background-image: linear-gradient(0deg, transparent 2px, var(--blue) 2px);
    background-size: 100% 16px; 
    background-repeat: no-repeat;
    background-position: 0 140%;
}
li:hover {
    background-image: linear-gradient(0deg, transparent 2px, var(--purple) 2px);
    box-shadow: 0px 0px 4px 2px var(--dark);
    border-radius: 2px;
    
}

body {
    display: block;
    background-image: url(./images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section {
    display: flex;
    background-color: rgba(238,244,237,0.5);
    padding: 25px;
    margin:75px;
    border-radius: 10px;
    
}
section p {
    padding: 15px;
}
section:hover {
    box-shadow: 0px 0px 6px 4px var(--dark);
}
#About {
    margin-top: 15%;
}
aside {
    width: 160px;
    display: flex;
    padding-right:50px;
    text-align: left;
    align-items: top;
    margin-right: 40px;
    flex: 0 0;
}
aside h1 {
    color:var(--blue);
    font-weight: bold;
    font-size: 35px;
}
aside h1:hover{
    color:var(--purple)
}
p {
    font-size: 20px;
    flex: 12 2;
}
.container{
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    align-items: right;
    columns: 5;
    width: 100%;
}
.card {
    display: flex;
    background-color: var(--dark);
    color: var(--light);
    height: 350px;
    flex: 1 0 500px;
    margin:10px;
    border-width: 10px;
    border-color: var(--dark);
    border-style: solid;
    background-size:cover;
    background-position: center;
    flex-wrap: wrap;

}

#first-project {
    display:flex;
    flex: 2 4 100%;
    align-self: flex-end;
    height: 650px;
    margin:10px;
    border-width: 10px;
    border-color: var(--dark);
    border-style: solid;
    background-image: url(./images/projects/vectorDrone.jpg);
    background-size:cover;
    background-position: center;
    
}
.small-image{
    flex: 1 1 40%;
    background-color: aliceblue;
    margin: 5px;
    width:20%;
    height:180px;
}
.container > * {
    opacity: 0.9;
}
.container > *:hover{
    box-shadow: 5px 5px 0px 0px var(--purple), 0px 0px 6px 0px var(--dark);
    opacity: 1;
}
.container > * > h1 {
    padding:15px;
    margin:10px;
    background-color: var(--dark);
    margin-left: 0px;
    margin-bottom: 60px;
    padding-bottom:35px;
    height: 40px;
    color:var(--light);
    font-size: 20px;
    text-align: left;
}
.container > * > p {
    bottom: 0px;
    align-items:end;
    justify-content: flex-end;
}
/* small image tiles */
#About > div {
    height: 400px;
}
#About div > *:nth-child(1){
    background-image: url(./images/personal/luna.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
#About div > *:nth-child(2){
    background-image: url(./images/personal/mochi.jpg);
    background-size:cover;  
    background-repeat: no-repeat;
    background-position: center;
}
#About div > *:nth-child(3){
    
}
#About div > *:nth-child(4){
    
}

/* project background images */
.container > *:nth-child(2){
    background-image: url(./images/projects/FCU.jpg);
}
.container > *:nth-child(3){
    background-image: url(./images/projects/game-prealpha.png);
}
.container > *:nth-child(3){
    background-image: url(./images/projects/game-prealpha.png);
}
.container > *:nth-child(4){
    background-image: url(./images/projects/freecad.png);
}
.container > *:nth-child(5){
    background-image: url(./images/projects/HoriseonLanding.png);
}
.container > *:nth-child(6){
    background-image: url(./images/projects/printer.jpg);
}
.container > *:nth-child(7){
    background-image: url(./images/projects/electronics.jpg);
}

/* mobile compatible layout */
@media screen and (max-width:1280px) {
    #About {
        margin-top: 45%;
    }
    li {
        display:grid;
        columns: 1;
        align-items: center;
    }
    nav {
        display: grid;
        justify-content: center;
    }
    header {
        text-align: center;
    }
    header span, header img {
        display: none;
    }
    section {
        display: block;
    }
    aside {
        display: block;
        width:100%;
        align-content: center;
        text-align: center;
        padding-left:30px;
        margin-left: 10px;
    }
    .container {
        justify-content: center;
    }
}