/* color variables */
:root {
    --dark: rgb(39,41,50);
    --bg-dark: rgb(161, 161, 161);
    --light: rgb(255, 247, 236);
    --blue: rgb(77,126,168);
    --purple: rgb(173, 115, 154);
    --clear: rgba(255, 235, 210, 0.6);
    --dark-clear:rgba(39, 41, 50, 0.8);
    --blur: blur(.5rem);
    --preopacity: 0.9;
}
/* universal selector, font and default color,  */
* {
    font-family: 'DejaVu-Serif-Bold', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: var(--dark);
    transition:all .2s ease;
}
body {
    display: block;
    background-image: url(./images/eso0932a.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header {
    width: 100%;
    margin-bottom: 25px;
    position: fixed;
    box-shadow: 0px 0px 5px 5px var(--dark);
    z-index: 2;
    top: 0px;
}
header:hover {
    box-shadow: 0px 0px 5px 5px var(--dark), 0px 0px 8px 5px var(--dark);;
}
header span{
    font-size:45px;
    color: var(--blue);
}
header span:hover{
    font-size:45px;
    color: var(--purple);
}
header h1 {
    font-size: 65px;
    color: var(--light);
    background-color: var(--dark);
    padding: 20px;
    padding-left: 35px;
}
header img {
    display: inline-block;
    position:absolute;
    right: 50px;
    width: 95px;
    padding: 10px;
    top:2px
}
header a {
    font-weight: 600;
    color:var(--dark);
}
nav {
    display: grid;
    color: var(--dark);
    background-color: var(--clear);
    font-size: 25px;
    justify-content: right;
    padding:8px;
    padding-top: 5px;
    backdrop-filter: var(--blur);
}
li {
    color:var(--dark);
    display: inline;
    padding:5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    text-align: center;
    background-image: linear-gradient(0deg, transparent 2px, var(--blue) 2px);
    background-size: 100% 16px; 
    background-repeat: no-repeat;
    background-position: 0 140%;
}
li:hover {
    background-image: linear-gradient(0deg, transparent 2px, var(--purple) 2px);
    box-shadow: 0px 0px 4px 2px var(--dark);
    border-radius: 2px;
}
#spacer {
    height: 200px;
}
section {
    display: flex;
    background-color: var(--clear);
    padding: 25px;
    margin:75px;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 10%;
    backdrop-filter: var(--blur);
}
section p {
    font-size: 20px;
    padding: 15px;
    flex: 1 1 60%
}
section:hover {
    box-shadow: 0px 0px 6px 4px var(--dark);
}
a {
    color:var(--light);
}
a:hover {
    color:var(--purple)
}

aside {
    width: 160px;
    display: flex;
    padding-right:50px;
    text-align: left;
    align-items: top;
    margin-right: 40px;
    flex: 0 0;
}
aside h1 {
    color:var(--blue);
    font-weight: bold;
    font-size: 35px;
}
aside h1:hover{
    display: inline-block;
    color:var(--purple)
}
.link::after {
    margin-left: 5px;
    content: '🔗';
    size:5px;
}
/* container for card lists */
.container{
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    align-items: right;
    columns: 5;
    width: 100%;
}

/* Hover to dim cards in container, apply shadow */
.container > *:hover{
    box-shadow: 5px 5px 0px 0px var(--purple), 0px 0px 6px 0px var(--dark);
    filter:brightness(90%);
}
h2 {
    color:var(--light);
    padding:15px;
    margin:10px;
    background-color: var(--dark);
    margin-left: 0px;
    padding-left: 10px;
    font-size: 20px;
    text-align: left;    
    background-image: url();

}
.container > * > p {
    font-size: 18px;
    font-weight: 600;
    opacity: 0;
    color:var(--light);
    background-color: var(--dark-clear);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.container > *:hover > p {
    opacity: 1;
}
/* Card class for projects section and more */
.card {
    display:inline;
    background-color: var(--dark);
    color: var(--light);
    height: 350px;
    flex: 1 1 500px;
    margin:10px;
    border-width: 10px;
    border-color: var(--dark);
    border-style: solid;
    background-size:cover;
    background-position: center;
    flex-wrap: wrap;
}
/* OVERRIDE card class for small image tiles*/
#About > div {
    bottom: 10px;
    height: 600px;
    display: flex;
    flex: 1 1 70%;
    padding:0px;
}
#About > div:hover{
    box-shadow: 5px 5px 0px 0px var(--purple), 0px 0px 6px 0px var(--dark);
}
/* small images in about card */
.small-image{
    flex: 1 1 40%;
    margin:1%;
    width:20%;

}
/* Small image tiles */
#About div > * {
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
#About div > *:nth-child(1){
    background-image: url(./images/personal/me.jpg);
}
#About div > *:nth-child(2){
    background-image: url(./images/personal/mochi.jpg);
}
#About div > *:nth-child(3){
    background-image: url(./images/personal/luna.jpg);
}
#About div > *:nth-child(4){
    background-image: url(./images/personal/ksp.png);
}
/* project background images */
#first-project {
    display:block;
    flex: 2 4 100%;
    align-self: flex-end;
    height: 650px;
    margin:10px;
    border-width: 10px;
    border-color: var(--dark);
    border-style: solid;
    background-image: url(./images/projects/vectorDrone.jpg);
    background-size:cover;
    background-position: center;
    
}
#Projects .container > *:nth-child(2){
    background-image: url(./images/projects/FCU.jpg);
}
#Projects .container > *:nth-child(3){
    background-image: url(./images/projects/game-prealpha.png);
}
#Projects .container > *:nth-child(3){
    background-image: url(./images/projects/game-prealpha.png);
}
#Projects .container > *:nth-child(4){
    background-image: url(./images/projects/freecad.png);
}
#Projects .container > *:nth-child(5){
    background-image: url(./images/projects/HoriseonLanding.png);
}
#Projects .container > *:nth-child(6){
    background-image: url(./images/projects/printer.jpg);
}
#Projects .container > *:nth-child(7){
    background-image: url(./images/projects/electronics.jpg);
}

#Work .container > *:nth-child(1){
    background-image: url(./images/work/generalinspection.png);
}
#Contact > div {
    flex: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    display: flex;
    align-items: center;
}
#Contact {
    height:150px;
}
button {
    color: var(--light);
    font-weight: 600;
    background-color: var(--dark-clear);
    flex: 1 1 10%;
    margin:1%;
    padding:1%;
    border-radius: 5px;
    border-color: var(--dark);
    border-width: 6px;
}
button:hover {
    color: var(--purple);
    background-color: var(--dark);
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px var(--purple), 0px 0px 6px 0px var(--dark)
}
footer {
    width: 100%;
    bottom:0px;
    text-align: center;
    background-color: var(--dark);
    padding: 20px;
    color: var(--light);
}

/* mobile compatible layout */
@media screen and (max-width:1500px) {
    /* about image card height */
    #About > div {
        height: 600px;
    }
    nav {
        justify-content: center;
    }
    header {
        text-align: center;
    }
    
    header span, header img {
        display: none;
    }
    section {
        display: block;
        margin-right: 80px;
        margin-left: 80px;
    }
    aside { 
        display: block;
        width:100%;
        align-content: center;
        text-align: center;
        padding-left:30px;
        margin-left: 10px;
    }
    .container {
        justify-content: center;
    }
    .container > * > p {
        font-size: 15px;
}
/* small mobile compatibility */
@media screen and (max-width:1000px) {
    section {
        display: block;
        margin-right: 4px;
        margin-left: 4px;
        padding-left:4px;
        padding-right:4px;
    }
    li {
        font-size: 16px;
        background-size: 100% 12px; 
    }
    header h1{
        font-size: 40px;
    }
}
}