:root {
    --dark: rgb(35, 51, 61);
    --light: rgb(196, 201, 255);
}
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-image: url("../assets/images/headerbg.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
}
header h1 {
    position: relative;
    font-size: 65px;
    color: var(--light);
    background-color: var(--dark);
    margin-top:40px;
    padding:20px;
    padding-left:100px;
    padding-left: 130px;
    z-index: 3;
    float:left;
}
header div {
    position:relative;
    background-color: var(--dark);
    display: inline-block;
    width: 125px;
    height: 105px;
    transform: skew(-45deg);
    top:40px;
    left:-61px;
    z-index: 2;

}
header div:nth-child(3) {
    left:-150px;
    background-color: var(--light);
    z-index: 1;
}
header div:nth-child(4) {
    left:-230px;
    z-index: 0;
}
nav {
    color: var(--dark);
    background-color: var(--light);
    font-size: 25px;
    align-items: right;
}
li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}
ul {
    align-items: right;
}
body {
    display: block

}
@media screen and (max-width:1080px) {
    li {
        display:grid;
        columns: 1;
        align-items: center;
    }
    header {
        justify-content: center;
    }
}